.container {
  height: 464px;
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  overflow: overlay;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #2F2F37;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8585AD;
  }

}

.order {
  height: 64px;
  width: 100%;
}

.price {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: center;
}

.totla-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: scale(1.4);
}

/* item */
.in-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.bun {
  display: flex;
  flex-direction: row-reverse;
}