.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &>div {
    width: 600px;
  }
}

.tabs {
  display: flex;
}

.ingredients-store-container {
  height: 765px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: overlay;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #2F2F37;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    outline: 3px solid #4C4CFF;
  }

}

.ingredients-stack-container {
  height: 765px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  overflow: overlay;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #2F2F37;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #8585AD;
    outline: 3px solid #4C4CFF;
  }

}

.item {
  position: relative;
  width: 252px;
  height: 208px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  cursor: pointer;
}

.item-proteins {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 62px;
  height: 24px;
}

.item-proteins-container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.item-name-container {
  width: 100%;
  text-align: center;
}

.order {
  height: 64px;
  width: 100%;
}

.item-price {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.totla-proce {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  transform: scale(1.4);
}